<%- include('header') -%>
<%- include('navbar') -%>
        
			 <!-- end sidebar menu -->
			<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
					<!-- start widget -->
					<div class="state-overview">
						<div class="row">
					        <div class="col-xl-3 col-md-6 col-12">
					          <div class="info-box bg-white animated fadeInLeft delay-1s">
					            <span class="info-box-icon push-bottom bg-primary"><i class="material-icons">person</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text"><strong>Profil</strong></span>
					              <span class="info-box-number">---</span>
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <div class="col-xl-3 col-md-6 col-12">
					          <div class="info-box bg-white animated fadeInDown delay-1s">
					            <span class="info-box-icon push-bottom bg-warning"><i class="material-icons">group</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text"><strong>Statistiques</strong></span>
					              <span class="info-box-number">---</span>
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <div class="col-xl-3 col-md-6 col-12">
					          <div class="info-box bg-white animated fadeInUp delay-1s">
					            <span class="info-box-icon push-bottom bg-success"><i class="material-icons">content_cut</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text"><strong>Operations</strong></span>
					              <span class="info-box-number">---</span>
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <div class="col-xl-3 col-md-6 col-12">
					          <div class="info-box bg-white animated fadeInRight delay-1s">
					            <span class="info-box-icon push-bottom bg-info"><i class="material-icons">settings</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text"><strong>Parametres</strong></span>
					              <span class="info-box-number">---</span>
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					      </div>
						</div>
					<!-- end widget -->
					<div class="row">
                        <img src="/assets/img/new/1.svg" class="col-md-12" height="500" alt="User Image" />
					</div>
<%- include('footer') -%>