<%- include('header') -%>
<%- include('navbar') -%>
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <ul class="nav nav-pills nav-pills-rose">
                        <li class="nav-item tab-all"><a class="nav-link active show" href="#tab2"
                            data-toggle="tab">Plan de la boutique</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab2">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="card card-box bg-success" onclick="rayon('E1');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" >E 1</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card card-box bg-success" onclick="rayon('E2');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" >E 2</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card card-box bg-blue" style="padding-bottom: 140px;" onclick="rayon('L1');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" style="padding-top: 100px;">L 1</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card card-box bg-danger" style="padding-bottom: 140px;" onclick="rayon('L2');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" style="padding-top: 100px;">L 2</div>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card card-box bg-blue" style="padding-bottom: 140px;" onclick="rayon('L3');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" style="padding-top: 100px;">L 3</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card card-box bg-blue" style="padding-bottom: 140px;" onclick="rayon('L4');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" style="padding-top: 100px;">L 4</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card card-box bg-danger" style="padding-bottom: 140px;" onclick="rayon('L5');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" style="padding-top: 100px;">L 5</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card card-box bg-blue" style="padding-bottom: 140px;" onclick="rayon('L6');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name" style="padding-top: 100px;">L 6</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-box bg-warning" onclick="rayon('S1');">
                                                <div class="card-body no-padding ">
                                                    <div class="doctor-profile">
                                                            <img src="../assets/avatar/" class="doctor-pic" alt=""> 
                                                        <div class="profile-usertitle">
                                                            <div class="doctor-name">S 1</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-box">
                                        <div class="card-body no-padding ">
                                            <div class="doctor-profile">
                                                    <img src="../assets/avatar/default.svg" class="doctor-pic" alt=""> 
                                                <div class="profile-usertitle">
                                                    <div class="doctor-name">Liste des Clients</div>
                                                    <strong><div class="alert alert-primary collapse" id="resultat">

                                                    </div></strong>
                                                    
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    function rayon(rayon){
           var request=$.ajax({
               url:'/get_locate_users',
               method:"GET",
               data:{rayon:rayon},
               dataType:"html"
           });

           request.done(function(msg){
            $("#resultat").hide();
            $("#resultat").text(msg);
            $("#resultat").show();
           });

           request.fail(function( jqXHR, textStatus ) {
                alert( "Request failed: " + textStatus );
            });
        }
    $(document).ready(function(){
        alert('bonjour');

    });
    
</script>
<%- include('footer') -%>